sudo: false

language: python
python:
  - "3.6"
  - "3.5"
env:
  - DJANGO="master"
  - DJANGO="21"
  - DJANGO="20"
  - DJANGO="111"

install:
  - pip install tox

script:
  - tox -e py$(python -c 'import sys;print("".join(map(str, sys.version_info[:2])))')-django${DJANGO}

matrix:
  fast_finish: true
  allow_failures:
    - env: DJANGO="master"
  include:
    - python: "3.5"
      env: DJANGO="18"

    - python: "3.4"
      env: DJANGO="20"
    - python: "3.4"
      env: DJANGO="111"
    - python: "3.4"
      env: DJANGO="18"
    - python: "3.4"
      env: DJANGO="16"
    
    - python: "2.7"
      env: DJANGO="111"
    - python: "2.7"
      env: DJANGO="18"
    - python: "2.7"
      env: DJANGO="16"
    - python: "2.7"
      env: DJANGO="14"

notifications:
  irc: "irc.freenode.org#imagekit"
