
language: python

sudo: false

install:
  - pip install tox

script:
  - tox

matrix:
  fast_finish: true
  include:
    - env: TOXENV=py27-django14
      python: 2.7
    - env: TOXENV=py27-django15
      python: 2.7
    - env: TOXENV=py27-django16
      python: 2.7
    - env: TOXENV=py27-django17
      python: 2.7
    - env: TOXENV=py27-django18
      python: 2.7
    - env: TOXENV=py27-django19
      python: 2.7
    - env: TOXENV=py27-django110
      python: 2.7
    - env: TOXENV=py27-django111
      python: 2.7
    - env: TOXENV=py33-django15
      python: 3.3
    - env: TOXENV=py33-django16
      python: 3.3
    - env: TOXENV=py33-django17
      python: 3.3
    - env: TOXENV=py33-django18
      python: 3.3
    - env: TOXENV=py34-django16
      python: 3.4
    - env: TOXENV=py34-django17
      python: 3.4
    - env: TOXENV=py34-django18
      python: 3.4
    - env: TOXENV=py34-django19
      python: 3.4
    - env: TOXENV=py34-django110
      python: 3.4
    - env: TOXENV=py34-django111
      python: 3.4
    - env: TOXENV=py35-django18
      python: 3.5
    - env: TOXENV=py35-django19
      python: 3.5
    - env: TOXENV=py35-django110
      python: 3.5
    - env: TOXENV=py35-django111
      python: 3.5


notifications:
  irc: "irc.freenode.org#imagekit"
