
.icc-cie1931, .histogram-luma {
}

.cie1931, .luma, .rgb {
    display: block;
    width: 250px;
    height: 250px;
    border: 1px solid lightgray;
    background-color: white;
}

.luma, .rgb {
    width: 600px;
    border: 1px solid transparent;
}

.icc-rgb-trc {
    display: block;
    position: relative;
}

.rgb-trc {
    display: inline-block;
    position: relative;
    width: 120;
    height: 120;
    border: 1px solid lightgray;
    background-color: white;
}

